body{
    margin: 0px;
    text-align: center;
    background-color: rgb(40, 44, 40);
 
}
button{
    min-width: 100px;
    min-height: 50px;
    background-color: rgb(160, 194, 37);
    margin-top: 10px;
    border-radius: 20px;
    border: solid 2px rgb(31, 190, 111);
}
#container
{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    
  

}
.placeholder
{   
    width: 100px;
    height: 100px;
    margin: 10px 0px;
    background-color: rgb(47, 25, 109);

}